{% extends "../layout.html" %}

{% set pageName= title %}

{% block beforeContent %}
{% from "components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back(-1);"
}) }}
{% endblock %}

{% block content %}
			<h2 class="govuk-caption-l hmrc-caption-l">
				<span class="govuk-visually-hidden">This section is
				</span>Domain Intelligence</h2>
			<h1 class="govuk-heading-xl" style="display: flex; align-items: center; justify-content: space-between;">
        <div>
				{{ domainInfo.company_name }}{% if domainInfo.legal_name and domainInfo.legal_name != domainInfo.company_name %} <span class="govuk-hint">({{ domainInfo.legal_name }})</span>{% endif %}
        </div>
        {% if domainInfo.logo_url %}
            <img style="max-width: 100px;" src="{{ domainInfo.logo_url }}" alt="{{ domainInfo.company_name }} logo" class="govuk-table__image" />
        {% endif %}
			</h1>

  {% from "components/summary-list/macro.njk" import govukSummaryList %}

  {% include './single-page-data.html' %}


{% endblock %}