{% from "components/input/macro.njk" import govukInput %}
{% from "components/button/macro.njk" import govukButton %}

<form method="post" action="./">
  {% if errorGlobal %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-heading" role="alert">
      <h2 class="govuk-error-summary__title" id="error-summary-heading">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#domain">{{ errorGlobal }}</a>
          </li>
        </ul>
      </div>
    </div>
  {% endif %}

  {% set errorMessage = null %}
  {% if error %}
    {% set errorMessage = { "text": error } %}
  {% endif %}

  {{ govukInput({
    label: {
      text: "Domain Name",
      classes: "govuk-label--m",
      isPageHeading: true
  },
  errorMessage: errorMessage,
  id: "domain",
  name: "domain"
}) }}

{{ govukButton({
  text: "Lookup Domain"
}) }}
</form>