{% extends "layout.html" %}

{% set pageName= title %}

{% block content %}

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-two-thirds">

			<h2 class="govuk-caption-l hmrc-caption-l">
				<span class="govuk-visually-hidden">This section is
				</span>Proof of Concept</h2>
			<h1 class="govuk-heading-xl">
				{{ pageName }}
			</h1>
            <p class="govuk-body">
                This is a prototype of an HMRC FTS Domain Intelligence API. Its purpose is to ascertain whether we can use domain intelligence to segment our current external customers.
            </p>
			
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="/docs">API documentation</a></li>
                <li><a href="/ui/">User Interface to view and test concept</a></li>
                <li><a href="/api/domain">Domain Lookup Endpoint UI</a></li>
            </ul>

		</div>
	</div>

{% endblock %}
